footer{
    position: fixed;
    bottom: 0px;
    text-align: right;
    padding: 0.5rem;
    background-color: rgb(212, 197, 178);
    opacity: 0.7;
    width: 100vw;
    height: 2rem;
    z-index: 100;
}

@media (max-width:1035px) {
    footer{
        padding-right: 0px;
    }
}