.intro1{
    background-color: white;
    width: 100vw;
    height:100vh;
    z-index: 1;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, white 85%, cadetblue 15% );
    border-top-left-radius: 20%;
  }
  
  .welcome{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50vw;
    height: 50vh;
    text-align: center;
    padding: 1rem;
    text-align: left;
  }
