.mainMain{
    background-color: rgb(124, 121, 121);
    padding-top: 3rem;
    width: 100vw;
    height:100vh;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #fff 85%, rgb(144, 19, 247) 15% );
    border-top-left-radius: 24%;
  }
  @keyframes seen{
    from {opacity: 0;}
    to {opacity: 1;}
  }
  .div1{
    opacity: 0;
    background-color: rgb(247, 180, 99);
   border-left: 1px solid black;
   border-bottom: 1px solid black;
    position: absolute;
    color: black;
    top: 15.2rem;
    left: 1rem;
    width: 40vw;
    height: 50vh;
    padding: 30px 5px 5px 5px;
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 1rem;
    animation: seen 500ms ease-in 500ms forwards;
    z-index: 6;
    overflow-y: auto;
    overflow-x: hidden;
  }
.div2{
  position: absolute;
  top: 12.2rem;
  left: 4rem;
  width: 40vw;
  height: 50vh;
  opacity: 0;
  animation: seen 500ms ease-in 700ms forwards;
  background-color: rgb(250, 28, 28) ;
  z-index: 5;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.div3{
  position: absolute;
  top: 9.2rem;
  left: 7rem;
  width: 40vw;
  height: 50vh;
  opacity: 0;
  animation: seen 500ms ease-in 900ms forwards;
  background-color: rgb(144, 19, 247)  ;
  z-index: 4;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.div4{
  position: absolute;
  top: 6.2rem;
  left: 10rem;
  width: 40vw;
  height: 50vh;
  opacity: 0;
  animation: seen 500ms ease-in 1100ms forwards;
  background-color: #0bda15 ;
  z-index: 3;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.div5{
  position: absolute;
  top: 3.2rem;
  left: 13rem;
  width: 40vw;
  height: 50vh;
  opacity: 0;
  animation: seen 500ms ease-in 1300ms forwards;
  background-color: #1b75fd ;
  z-index: 2;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.searchIcon{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 50%;
}
.searchIcon:hover{
  background-color: red;
  color: white;
}

.myCard{
  background-color: black;
  text-align: center;
  width: 14rem;
  height: 16rem;
  border-radius: 6px;
  box-shadow:rgb(134, 129, 129) 3px 3px 3px;
  color: #fff;
}
.myCard:hover{
  border-radius: 3px;
  box-shadow:rgb(#333) 10px 10px 10px;
}
.myCard img{
  padding-top: 1rem;
  margin: auto;
  width: 8rem;
  height: 10rem;
  transform: rotateZ(-6deg);
  cursor: pointer;

}
.myCard img:hover{
  transform: rotateZ(0deg);
  transition-duration: 1s;
}

.MainfaMapPin{
  position: relative;
  top: 1.2rem;
  left: 9.5rem;
  color: rgb(236, 111, 53);
  z-index: 1;
}
.carouselDiv{
  background-color: black;
  position: absolute;
  top: 3.2rem;
  left: 13rem;
  z-index: 1;
  width: 40vw;
  height: 49vh;
  box-shadow: 10px 10px 10px 0px rgb(117, 116, 116);
  animation: caurosel 1s ease-in 1700ms forwards;
  opacity: 0;
}

.carouselDiv div{
 height: 50vh;
 padding: 5px;
}

@keyframes caurosel {
  from {left: 13rem; opacity: 0;}
  to {left:59vw; opacity: 1;}
}


@media (max-width:1035px) {
  .mainMain{
  padding-top: 0rem;

  }
  .carouselDiv{
   display: none;
  }
 .div1{
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
   justify-content: center;
   overflow-y: scroll;
 }
 .div1, .div2, .div3, .div4, .div5{
  position: absolute;
  left: 0.5rem;
  width: 76%;
 }
.myIntro{
  padding-top: 1rem;
 
}
}