.navContainer{
  box-sizing: border-box;
  padding: 0px;
  width: 100vw;
  height: auto;
}
nav {
  position: fixed;
  top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    height: 3rem;
    width: 100vw;
    box-shadow: #333 0px 1px 5px ;
    z-index: 10 ;
  }
  
  .navLinks a {
    color: white;
    text-decoration: none; 
    border-bottom: solid 2px #333; 
  }
  nav a:hover {
    color: cadetblue;
    border-bottom:solid 2px wheat;
  }

  .navLinks a::before {
    content: ">>";
    color: rgb(241, 26, 213);
  }
  
  nav a:active {
    border-bottom:solid 2px rgb(165, 23, 23);
  }
  .contactBtn:active{
    border-bottom:solid 2px rgb(165, 23, 23);
  }
  .navLinks {
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    margin-right: 5vw;
  }
.homeIcon{
  margin-left: 5vw;
}

.FaHome{
    color: white;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
}

.FaHome :hover{
    color: cadetblue;
}

@media (max-width:1035px) {
 
  nav {
    position: fixed;
    top: 0px;
    right: 0px;
    padding-left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      background-color: #333;
      color: white;
      height: 100vh;
      width: 5rem;
      box-shadow: #333 0px 1px 5px ;
      z-index: 10 ;
     padding-top: 2rem;
    
    }
    .navLinks {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width:auto;
      height: 60vh;
      font-size: 0.83rem;
    }
    .navLinks div{
      width: 100%;
       text-align: center;
       margin-left: 1.4rem;
    }
    .navLinks a::before {
      content: unset;
  
    }
    .contactBtn::before{
      content: unset;
 
    }
    .homeIcon{
      margin-left: 1.8rem;
    }
    
}
