.repoMain{
    padding: 4rem 0 3rem 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: space-between;
    background-color: rgb(182, 228, 230);
    width: 100vw;
    height: 100%;
    animation-name: gapping;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
   
}
.cell{
    min-width: 40vw;
    height: 40vh;
    background-color: #333;
    box-shadow: white 5px 5px 5px

}
.cell p{
    background-color: rgb(228, 55, 32);
    color: white;
    position: absolute;
    right: -1rem;
    top: 4rem;
    font-size: small;
    font-weight: bold;
    opacity: 1;
    padding: 2px;
    border-radius: 5px;
    transform:rotateZ(30deg) ;
    transform-origin: 0px, 0px;
}

@keyframes gapping {
    from {gap: 0px 0px}
    to {gap: 5vh 5vw}
  }

  img{
      width: 38vw;
      height: 38vh;
      margin: auto;
      padding-top: 1vh;
  }

  @media (max-width:1035px) {

    .repoMain{
        padding: 4rem 0 3rem 0;
        display: flex;
        flex-direction: column;
        background-color: rgb(182, 228, 230);
        width: 100vw;
        height: 100%;
        animation-name: gapping;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
       
    }
    .cell{
        width: 78vw !important;
        height: 40vh;
        background-color: #333;
        box-shadow: white 5px 5px 5px;
        margin: 2px;
    }
    img{
        width: 78vw;
        padding-right: 4px;
    }
  }